* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  background-color: var(--dark-grey);
  color: var(--dark-grey);
}

:root {
  --white: hsl(0, 0%, 100%);
  --grey: hsl(231, 7%, 60%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --dark-grey: hsl(234, 29%, 20%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style: none;
}